body {
    background-color: #F9F8F8;
    margin: 0px;
}

nav {
    width: calc(100% - 50px);
    padding: 25px;
    text-align: center;
    position: fixed;
    background-color: #BBB5BD;//rgb(0,0,0,0.25);
    z-index: 9;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

.logo {
    width: 127px;
    height: 27px;
    background-image: url(../img/logo.png);
    background-size: contain;
}

.burger {
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 40px;
    margin: 20px 25px 0px 0px;
    background-size: cover;
    background-image: url(../img/menu.png);
    
    cursor: pointer;
    display: block;
}

input[type="checkbox"]  {
    display: none;
}

input + .burger + div {
    display: none;
}

input:checked + .burger + div {
    display:block;
}

.menu {
    position: absolute;
    right: 0;
    top: 60px;
    padding: 10px 10px 10px 0px;
    display: none;
    background-color: #BBB5BD;
}

.menu-section {
    font-family: MS Sans Serif;
    color: #B118C8;
    font-size: 22px;
    margin: 10px 20px 10px 20px;
}

.speclink{
    color: #B118C8;
    text-decoration: none;
}

.container{
    width: calc(100% - 50px);
    margin: auto;
    padding: 25px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;    
    margin: 8%;
}


.gallery1 {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: column;
}

.gallery-item {
    flex: 1 0 50%;
    margin: 1rem;
    display: flex;    
    //box-shadow: 10px 10px 10px #AA6DA3;    
    margin-left: 4%;
    margin-top: 3%;    
    border-radius: 20px 40px 20px 40px;
    transition:all 0.55s;
    border-style: dotted;
    border-width: 2px;
    border-color: #AA6DA3;
}

.gallery-item:hover{
    box-shadow: 10px 10px 10px #AA6DA3;    
}

.gallery-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 40px 20px 40px;
}

.txtblockhead{
    font-family: MS Sans Serif;
    font-size: 18px;
    text-align: center;        
}
.txtblock{
    font-family: MS Sans Serif;
    font-size: 16px;            
    margin: 1%;
}

.bar{
    background-color: #B185A7;
    display: flex;
    padding-right: 5px;
    flex: 1 0 40%;
    font-family: MS Sans Serif;
    font-size: 18px;
    justify-content: flex-end;
}
.bar p{
    color: #E8DBC5;
}
.barst{
    width: 99%;
}

.barhead{
    font-family: MS Sans Serif;
    font-size: 18px;
    margin-top: 3%;
    color: #383961;
}

.barhead01{
    font-family: MS Sans Serif;
    font-size: 18px;
    margin-top: 11%;
    color: #383961;
}

/*.gallery-image:hover {
    transform: scale(1.05);
}*/